<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="espritsoft.com.playvideo">

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".NotiFication.AppNotify"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PlayVideo">
        <activity
            android:name=".AudioPlay.inerLayout.SongQueList.AllSongList.SongListActivity"
            android:theme="@style/StatusBarTheme"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".VideoPlayActivity.VideoPlayActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity android:name=".HomeActivity.Home">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".AudioPlay.AudiouServices.AudioPlaySystem"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".NotiFication.NotificationRecever"
            android:enabled="true">
            <intent-filter>
                <action android:name="NEXT" />
                <action android:name="PREVIOUS" />
                <action android:name="PLAY" />
                <action android:name="PAUSE" />
                <action android:name="PLAY_PAUSE" />
                <action android:name="DISMIS" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".AudioPlay.AudiouServices.MediaButtonEventReceiver"
            android:enabled="true">
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.MEDIA_BUTTON" />
                <action android:name="NEXT" />
                <action android:name="PREVIOUS" />
                <action android:name="PLAY" />
                <action android:name="PLAY_PAUSE" />
                <action android:name="DISMIS" />
                <action android:name="PAUSE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".AudioPlay.AudiouServices.HeadsetPlugInRecever"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.HEADSET_PLUG" />
                <action android:name="NEXT" />
                <action android:name="PREVIOUS" />
                <action android:name="PLAY" />
                <action android:name="PAUSE" />
                <action android:name="PLAY_PAUSE" />
                <action android:name="DISMIS" />
            </intent-filter>
        </receiver>
    </application>

</manifest>